body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: burlywood;
}

.main {
    text-align: center;
    background-color: blanchedalmond;
    padding: 4px;
}

.content {
    background-color: rgb(255, 225, 179);
    margin: 10px 20px auto 20px ;
}

h1 {
    font-size: 50px;
    margin: 8px 0 5px 0;
}

h2, h3 {
    margin: 5px;
    color: rgb(56, 56, 56);
}



.links li {
    background-color: rgb(252, 255, 216);
    width: fit-content;
}

img {
    height: 310px; 
    width: 350px;
    border: 8px solid burlywood;
}