html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-image: url("https://c7.alamy.com/comp/G0TDCB/chef-restaurant-and-cooking-banner-with-search-bar-thin-line-objects-G0TDCB.jpg");
}

.main {
    text-align: center;
    background-color: hsla(22, 100%, 74%, 0.815);
    width: 100%;
    padding: 4px;
    margin: 15px 0;
}

.content {
    background-color: hsla(34, 100%, 73%);
    margin: 10px 20px auto;
}

h1 {
    font-size: 50px;
    margin: 8px 0 5px;
}

h2 {
    font-size: 28px;
    margin: 5px;
    color: rgb(56, 56, 56);
    padding: 10px;
}

figcaption {
    margin: 5px auto 10px;
    font-size: 26px;
    font-weight: bold;
}

.links li {
    background-color: rgb(252, 255, 216);
    width: fit-content;
}

img {
    height: 310px; 
    width: 350px;
    border: 6px solid #fffaf3;
}

ul, ol {
    background-color: rgb(248, 242, 234);
    width: 1000px;
    margin: auto;
}

li {
    font-size: 20px;
    padding: 4px;
}